<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item_logo"><img src="./images/logo/logoApp.jpg"></li>
      <li class="nav__item_title"><a href="#">Fast Resto</a></li>
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="#">About Us</a></li>
    </ul>
  </nav>
  <main>
    <section id="hero"></section>
    <section id="daftar-resto"></section>
  </main>
  <h1>Restaurant Apps Starter Projects</h1>
  <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
  <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
  <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
  <footer>
    <p>Copyright @ 2022 - Fast Resto</p>
  </footer>
</body>
</html>
