<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#hero" class="skip-link" tabindex="0">Menuju ke konten</a>
  <nav id="drawer" class="nav">
    <div class="logo"><h1>Fast Resto</h1></div>
    <div><a href="#">Home</a></div>
    <div><a href="#">Favourite</a></div>
    <div><a href="#">About</a></div>
  </nav>
  <a id="hamburger" class="hamburger_nav">☰</a>
  <main>
    <section id="hero">
      <div class="hero-content">
        <h1>Fastest Places Find <br>Special<span style="color:lightblue"> Restaurants</span></h1>
        <p>Fast Resto give you new experience find restaurant and it's all about FAST</p>
      </div>
      <div class="hero-image">
        <img src="./images/heros/hero-image.svg" alt="fast-resto-hero-image">
      </div>
    </section>
    <section id="daftar-resto">
      <h1>Explore Restaurant</h1>
      <div class="daftar-resto-inner">
      </div>
    </section>
  </main>
  <footer>
    <p>Copyright @ 2022 - Fast Resto</p>
  </footer>
</body>
<script src="../scripts/index.js" type="module"></script>
<script>
  // Navbar
  const hamburgerButtonElement = document.querySelector('#hamburger');
  const drawerElement = document.querySelector('#drawer');
  
  hamburgerButtonElement.addEventListener('click', event => {
    drawerElement.classList.toggle('open');
    event.stopPropagation();
  });

  const mainElement = document.querySelector('body');

  mainElement.addEventListener('click', event => {
    drawerElement.classList.remove('open');
    event.stopPropagation();
  });
</script>
</html>
